.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* height: 100vh; */
  /* width: 100vw; */
}


.image-section {
  display: flex;

  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-position: center center;
  justify-content: center;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Resources/IMG/Main.jpg);
  background-size: cover;

  h1 {
    color: white;
    font-size: 3em;
  }

  .color-h1 {
    color: #6a3cac;
  }

  .efect2 {
    animation: wipe-in-right 1.8s cubic-bezier(0.5, 0, 0.5, 1) both;
  }
}

.Text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
